section.portfolio, section.other-projects {

  div.projects {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1.75rem;

    margin: auto;

    a {
      color: inherit;
      text-decoration: inherit;

      &:hover,
      &:active {
        color: inherit;
        text-decoration: inherit;
      }
    }

    article {
      justify-self: center;
      align-self: center;

      width: 100%;
      height: 100%;

      position: relative;

      > div {
        border-radius: .5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 15rem;
      }

      > div.summary {
        background: #F2F2F2;

        div.gatsby-image-wrapper {
          width: 8rem;
          height: 8rem;
        }
      }

      &.ourenergy {
        > div {

          &.details {
            background: #FCEA03;
          }
        }
      }

      &.eth-library-lab {
        > div {
          background: #BBC3CC;

          div.gatsby-image-wrapper {
            border: 1px solid #728D99;
            border-radius: 50%;
            background: #F0F0ED;
          }

          &.details {
            background: #1F407A;
            color: white;
          }
        }
      }

      &.bonjour-circle, &.bonjour-bloom {
        > div {
          background: #FFD664;

          div.gatsby-image-wrapper {
            border: 1px solid #8F7C76;
            border-radius: 50%;
          }

          &.details {
            background: #80F4EC;
          }
        }
      }

      &.bonjour-circle {
        div.gatsby-image-wrapper {
          background: #F0F0ED;
        }
      }

      &.bonjour-bloom {
        div.gatsby-image-wrapper {
          background: #F6C691;
        }
      }

      &.deckdeckgo {
        > div {
          background: #0cd1e8;

          &.summary, &.details {
            color: white;
          }

          &.details {
            background: #3A81FE;
          }
        }
      }

      &.wooof {
        > div {
          &.details {
            background: #F16664;
            color: white;
          }
        }
      }

      &.fluster {
        > div {
          background: #FF65A9;

          &.summary, &.details {
            color: white;
          }

          &.details {
            background: #feb79c;
          }
        }
      }

      &.dvb {
        > div {
          background: #2E4051;

          &.summary, &.details {
            color: white;
          }

          &.details {
            background: #f39800;
          }
        }
      }

      > div.details  {
        visibility: hidden;
        opacity: 0;

        color: inherit;

        position: absolute;
        top: 0;
        left: 0;

        cursor: pointer;

        transition: all 1s;

        h2, p {
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        h2 {
          top: 50%;
          width: calc(100% - 1.45rem);
          text-align: center;
          padding-bottom: 0.45rem;
        }

        p {
          bottom: 0;
          text-decoration: underline;
        }
      }

      &:not(.mobile) {
        div.summary {
          h3 {
            display: none;
          }
        }

        &:hover, &:active {
          > div.details {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      &.mobile {
        div.summary {
          h3 {
            text-align: center;
            padding: 1.25rem 0 0;
            margin: 0;
          }
        }
      }
    }
  }
}
