section.about {
  background: var(--color-primary);
  color: var(--color-primary-contrast);

  main {
    p {
      white-space: pre-wrap;
      text-align: center;
    }

    mark {
      background: var(--color-highlight);
      color: var(--color-primary);
      padding: 0 8px;
      border-radius: 16px;

      a {
        text-decoration: none;

        &:hover, &:active {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}
