section.about {
  background: var(--color-secondary);
  color: #ffffff;
  padding: 6rem 0;

  main {
    p {
      white-space: pre-wrap;
      text-align: center;
    }

    mark {
      background: var(--color-highlight);
      color: white;
      padding: 2px;
      border-radius: 4px;
    }
  }
}
