section.about {
  background: var(--color-secondary);
  color: #ffffff;

  main {
    p {
      white-space: pre-wrap;
      text-align: center;
    }

    mark {
      background: var(--color-highlight);
      color: white;
      padding: 2px;
      border-radius: 4px;

      a {
        text-decoration: none;

        &:hover, &:active {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}
