section.blog {
  a.link-to-blog {
    text-align: center;
  }
}

section.post {
  padding: 6rem 0 0;

  h1, h2, h3 {
    margin: 2.75rem 0 1.25rem;
  }

  h1, h2, h3 {
    text-shadow: 1px 1px var(--color-secondary);
  }

  p.date, p.tags {
    font-weight: 300;
    font-size: 1rem;
  }

  p.date {
    margin: 0;
  }

  hr {
    width: 7rem;
    margin: 1.75rem auto;
  }

  img, iframe {
    box-shadow: 1px 1px var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
  }

  deckgo-highlight-code {
    box-shadow: 3px 4px var(--color-secondary);
    border: 1px solid var(--color-secondary);
  }
}
