/* jetbrains-mono-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/jetbrains-mono-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lexend-mega-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Lexend Mega";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/lexend-mega-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lexend-mega-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Lexend Mega";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/lexend-mega-v25-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
	font-family: "JetBrains Mono", sans-serif;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	--font-size-h1: 3.85rem;
	--line-height-h1: 3.625rem;
	--font-weight-h1: 700;

	--font-size-h2: 2.85rem;
	--line-height-h2: 2.625rem;
	--font-weight-h2: 700;

	--font-size-h3: 1.75rem;
	--line-height-h3: 1.9166666666666667rem;
	--font-weight-h3: 700;

	line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lexend Mega", sans-serif;
	letter-spacing: -0.2em;
	--title-margin-left: -0.6rem;
	margin: 0 0 0 var(--title-margin-left);
}
