input[type="text"], input[type="tel"], input[type="email"], textarea {
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  padding: 1.45rem;
  font-size: 1.25rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 0.25rem 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}

input[type="submit"], a.button {
  margin: 2.75rem 0 0;
}

input[type="submit"], a.button * {
  border-radius: 8px;
  background-color: var(--color-primary);
  padding: 16px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  border: 0;

  &:hover, &:active {
    background-color: var(--color-highlight);
    text-decoration: none;
  }
}

a.button {
  text-decoration: none;

  display: flex;
  justify-content: center;

  h2 {
    margin: 0;
  }

  &:hover, &:active {
    text-decoration: none;
  }

  * {
    width: fit-content;
  }
}

textarea {
  resize: none;
}
