section.project {

  article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1.75rem;

    margin: 1.75rem 0;

    div.screenshots, div.introduction {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
