:root {
	--color-primary: #000000;
	--color-primary-rgb: 0, 0, 0;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255, 255, 255;
	--color-primary-shade: #000000;
	--color-primary-tint: #1a1a1a;

	--color-tertiary: #e2c89f;
	--color-tertiary-rgb: 226, 200, 159;
	--color-tertiary-contrast: #000000;
	--color-tertiary-contrast-rgb: 0, 0, 0;
	--color-tertiary-shade: #c7b08c;
	--color-tertiary-tint: #e5cea9;

	--color-highlight: #ff65a9;
	--color-highlight-rgb: 255, 101, 169;
	--color-highlight-contrast: white;
	--color-highlight-contrast-rgb: 255, 255, 255;
	--color-highlight-shade: #e05995;
	--color-highlight-tint: #ff74b2;
}
