:root {
  --color-primary: #221f39;
  --color-primary-rgb: 34,31,57;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255,255,255;
  --color-primary-shade: #1e1b32;
  --color-primary-tint: #38354d;

  --color-secondary: #2d294c;
  --color-secondary-rgb: 45,41,76;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-rgb: 255,255,255;
  --color-secondary-shade: #282443;
  --color-secondary-tint: #423e5e;

  --color-tertiary: #575470;
  --color-tertiary-rgb: 87,84,112;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-contrast-rgb: 255,255,255;
  --color-tertiary-shade: #4d4a63;
  --color-tertiary-tint: #68657e;

  --color-highlight: #ff65a9;
  --color-highlight-rgb: 255,101,169;
  --color-highlight-contrast: white;
  --color-highlight-contrast-rgb: 255,255,255;
  --color-highlight-shade: #e05995;
  --color-highlight-tint: #ff74b2;
}
