a.post {
  text-decoration: none;
  color: inherit;

  &:hover, &:active {
    text-decoration: none;
    color: var(--color-highlight);

    article {
      div.image {
        > div {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  transition: color 1s;

  article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1.75rem;

    margin: 1.75rem 0;

    div.image, div.details {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    div.image {
      position: relative;
      align-items: center;

      --deckgo-lazy-img-border-radius: .5rem;
      --deckgo-lazy-img-display: block;

      > div {
        width: 100%;
        height: 100%;
        background: rgba(var(--color-highlight-rgb), 0.9);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: .5rem;

        visibility: hidden;
        opacity: 0;

        transition: all 1s;

        color: #ffffff;

        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          padding-bottom: 0.45rem;
        }
      }
    }

    div.details {
      align-items: flex-start;

      h2 {
        max-height: 112px;
      }

      p {
        margin: 0;

        &:last-of-type {
          color: var(--color-highlight);
          font-size: 1rem;
        }
      }
    }
  }
}
